<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperToob</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="./video/video.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://apis.google.com/js/api.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" defer></script>
    <script src="homepage.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">DeveloperToob</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="./login.html">Sign up</a>
            <a class="nav-link" href="./login.html">Log in</a>
          </div>
        </div>
    </nav>
    <!-- navbar -->
    <!-- <div class="nav-bar">
        <a href="" class="icon">
            <div>DeveloperToob</div>
        </a>
        <div class="hamburgerdiv">
            <div class="hamburger"></div>
        </div>
    </div>
    <div class="hidden">
        <a href="login.html" class="login"><div>Login</div></a>
    </div> -->
    <!-- navbar -->

    <div class="banner">Welcome to DeveloperToob!</div>
    <div id="app">
        <div class="videodisplay" v-if="!displayvideo" v-for="video of videos">
            <h3 class="videotitle">{{video.title}}</h3>
            <div class="videothumbnail" v-on:click="displayVideo" v-bind:id="video.id" >
                <img v-bind:src="video.thumb_medium">
            </div>
            <p>{{video.like_count}}</p>
            <p>{{video.dislike_count}}</p>
        </div>
        <div class="videosection" v-if="displayvideo">
            <div class="navbarholder"><div v-on:click="displayHomepage" class="browsemore">Browse More</div></div>
            <div class="fixedpositionholder"></div>
            <div class="videoplayer">
                <div class="video"><iframe v-bind:src="videoSource"></iframe></div>
                <div class="videodescription">
                    <div class="titleandthumbs">
                        <h3>The Incredibly Non Descriptive Title</h3>
                        <div class="thumbs">
                            <img src="https://image.flaticon.com/icons/svg/889/889221.svg" class="thumbsup"><button></button>
                            <img src="https://image.flaticon.com/icons/svg/889/889220.svg" class="thumbsdown"><button></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-comment">
                <label for="addcomment" v-on:click="displaycomment = !displaycomment">Add A Comment</label>
                <textarea id="addcomment" name="addcomment" rows="5" cols="50" v-if="displaycomment"></textarea>
                <button class="submitcomment" v-if="displaycomment" v-on:click="signUpToComment">Submit</button>
            </div>
            <div class="all-comments">
                <label v-on:click="displaycomments = !displaycomments">Comments</label>
                </div>
            <div class="commentsdiv" v-if="displaycomments" v-for="comment of comments">
                <div class="comments">
                    <h3 class="username">{{comment.user_id}}</h3>
                    <h5 class="content">{{comment.content}}</h5>
                    <button>Delete</button>
                    <button>Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div>
        <footer id="footer">Copyright © 2020 DeveloperToob</footer>
    </div>
</body>
</html>