<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TableTalk</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./login/login.css">
    <link rel="stylesheet" href="./video/video.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" defer></script>
    <script src="./login/login.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="accountaccess" v-if="!loggedin">
            <div class="login">
                <h1>Login To Your Account</h1>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" v-model="loginUser"><br>
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" v-model="loginPass"><br>
                <button class="submit" id="loginbutton" v-on:click="handleLogin">Login</button>
            </div>
            <div class="create-account">
                <h1>Create A New Account</h1>
                <label for="newusername">Username:</label>
                <input type="text" id="newusername" name="username"><br>
                <label for="newpassword">Password:</label>
                <input type="text" id="newpassword" name="password"><br>
                <button class="submit" id="createbutton">Create</button> 
            </div>
        </div>
        <div class="welcome" v-if="loggedin">
            <h1>Welcome {{user}}!</h1>
            <button class="logout" v-on:click="handleLogout">Logout</button>
        </div>
        <div class="videosection">
            <div class="navbarholder">Temporary Navigation Bar</div>
            <div class="fixedpositionholder"></div>
            <div class="videoplayer">
                <div class="video"></div>
                <div class="videodescription">
                    <div class="titleandthumbs">
                        <h3>Video Title</h3>
                        <div class="thumbs">
                            <button>Thumbs up</button>
                            <button>Thumbs down</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-comment">
                <label for="addcomment">Add A Comment:</label>
                <textarea id="addcomment" name="addcomment" rows="5" cols="50"></textarea>
                <button class="submitcomment">Submit</button>
            </div>
            <div class="commentsdiv">
                <div class="comments">
                    <div class="username">TestUser</div>
                    <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi saepe provident ex aperiam fuga, sint dolorum odio ipsum iusto reiciendis quidem molestias pariatur doloremque beatae, tenetur alias eveniet! Totam, itaque?</div>
                </div>
                <div class="comments">
                    <div class="username">TestUser</div>
                    <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi saepe provident ex aperiam fuga, sint dolorum odio ipsum iusto reiciendis quidem molestias pariatur doloremque beatae, tenetur alias eveniet! Totam, itaque?</div>
                </div>
                <div class="comments">
                    <div class="username">TestUser</div>
                    <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi saepe provident ex aperiam fuga, sint dolorum odio ipsum iusto reiciendis quidem molestias pariatur doloremque beatae, tenetur alias eveniet! Totam, itaque?</div>
                </div>
                <div class="comments">
                    <div class="username">TestUser</div>
                    <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi saepe provident ex aperiam fuga, sint dolorum odio ipsum iusto reiciendis quidem molestias pariatur doloremque beatae, tenetur alias eveniet! Totam, itaque?</div>
                </div>
            </div>
            <footer>Copyright © 2020 DeveloperToob</footer>
        </div>
    </div>
</body>
</html>