@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 100vw;
}

li, ul {
    list-style: none;
}

a {
    text-decoration : none;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #d9d9d9;
    height: 100%;
    width: 100%;
}

.icon-holder {
    width: 100%;
    height: 60px;
    background: #4484CD;
    color: #d9d9d9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    height: 60px;
    width: 120px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.information {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #4484CD;
}

.information > h1, .right-side > h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.information > p {
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background: #4484CD;
    color: #d9d9d9  ;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #4484CD;
    height: 80%;
    width: 100%;
    color: #d9d9d9;
}

#register-now {
    margin-top: 30px;
}

.right-side > ul {
    height: 30%;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.right-side > ul > li {
    margin-bottom: 20px;
}

.right-side > .register > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background: #d9d9d9;
    color: #4484CD;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.right-side > .register > a:hover, .button:hover {
    background-color: rgb(34, 70, 114);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    color: #d9d9d9;
    cursor: pointer;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background: #4484CD;
    color: #d9d9d9;
}

#copyright > a {
    color: #d9d9d9;
}