<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperToob</title>
    <link rel="stylesheet" href="./login/login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://apis.google.com/js/api.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" defer></script>
    <script src="login/login.js" defer></script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="./index.html"><video width="60" height="50" autoplay loop><source src="assets/Basic_Logo2.mp4" type="video/mp4"></video></a>
        </nav>
        <div class="accountaccess" v-if="registered">
            <div class="login-creation-holder">
                <div class="login">
                    <h1>Login To Your Account</h1>
                    <label for="username" class="userlabel">Username:</label>
                    <input type="text" id="username" name="username" v-model="loginUser"><br>
                    <p class="warning" v-if="usernamewarning">Your username field is not filled out.</p>
                    <label for="password" class="passwordlabel">Password:</label>
                    <input type="password" id="password" name="password" v-model="loginPass"><br>
                    <p class="warning" v-if="passwordwarning">Your password field is not filled out.</p>
                    <button class="submit" id="loginbutton" v-on:click="handleLogin">Login</button>
                    <p class="warning" id="invalid-fields" v-if="invalidfields">Your username or password is incorrect. Please try again.</p>
                    <p class="register-login-account">Don't have an account? Click <span class="highlight-link" v-on:click="registered = !registered, usernamewarning = false, passwordwarning = false, invalidfields = false, successfields = false">here!</span></p>
                </div>
            </div>
        </div>
        <div class="accountaccess" v-if="!registered">
            <div class="login-creation-holder">
                <div class="create-account">
                    <h1>Create A New Account</h1>
                    <label for="newusername" class="userlabel">Username:</label>
                    <p class="warning" v-if="usernamewarning">Your username field is not filled out.</p>
                    <input type="text" id="newusername" name="username" v-model="createUser"><br>
                    <label for="newpassword" class="passwordlabel">Password:</label>
                    <p class="warning" v-if="passwordwarning">Your password field is not filled out.</p>
                    <input type="password" id="newpassword" name="password" v-model="createPass"><br>
                    <button class="submit" id="createbutton" v-on:click="handleCreate">Create</button>
                    <p class="warning" id="username-taken" v-if="invalidfields">Your username is already taken, please try another one.</p>
                    <p class="success" v-if="successfields">Congratulations, you have successfully made an account! Please log in <span class="highlight-link" v-on:click="registered = !registered, usernamewarning = false, passwordwarning = false, invalidfields = false, successfields = false">here.</span></p>
                    <p class="register-login-account" v-if="!successfields">Already have an account? Click <span class="highlight-link" v-on:click="registered = !registered, usernamewarning = false, passwordwarning = false, invalidfields = false, successfields = false">here!</span></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <footer id="footer">Copyright © 2020 DeveloperToob</footer>
    </div>
</body>
</html>