<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloperToob</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./login/login.css">
    <link rel="stylesheet" href="./video/video.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://apis.google.com/js/api.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" defer></script>
    <script src="login/login.js" defer></script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" v-if="!loggedin">
            <a class="navbar-brand" href="./index.html">DeveloperToob</a>
        </nav>
        <div class="accountaccess" v-if="!loggedin">
            <div class="login">
                <h1>Login To Your Account</h1>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" v-model="loginUser"><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" v-model="loginPass"><br>
                <button class="submit" id="loginbutton" v-on:click="handleLogin">Login</button>
            </div>
            <div class="create-account">
                <h1>Create A New Account</h1>
                <label for="newusername">Username:</label>
                <input type="text" id="newusername" name="username" v-model="createUser"><br>
                <label for="newpassword">Password:</label>
                <input type="password" id="newpassword" name="password" v-model="createPass"><br>
                <button class="submit" id="createbutton" v-on:click="handleCreate">Create</button> 
            </div>
        </div>
        <div class="welcome" v-if="loggedin">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="./index.html">DeveloperToob</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-link logout" v-on:click="handleLogout" href="index.html">Logout</a>
                  </div>
                </div>
            </nav>
            <div class="banner">Welcome {{username}}!</div>
            <div class="videodisplay" v-if="!displayvideo">
                <div class="videothumbnail" v-on:click="displayVideo">Hello</div>
            </div>
            <div class="videosection" v-if="displayvideo">
                <div class="navbarholder"><div v-on:click="displayHomepage" class="browsemore">Browse More</div></div>
                <div class="fixedpositionholder"></div>
                <div class="videoplayer">
                    <div class="video"></div>
                    <div class="videodescription">
                        <div class="titleandthumbs">
                            <h3>The Incredibly Non Descriptive Title</h3>
                            <div class="thumbs">
                                <img src="https://image.flaticon.com/icons/svg/889/889221.svg" class="thumbsup" v-on:click="thumbsUp"><button></button>
                                <img src="https://image.flaticon.com/icons/svg/889/889220.svg" class="thumbsdown" v-on:click="thumbsDown"><button></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-comment">
                    <label for="addcomment" v-on:click="displaycomment = !displaycomment">Add A Comment</label>
                    <textarea id="addcomment" name="addcomment" rows="5" cols="50" v-if="displaycomment" v-model="newComment"></textarea>
                    <button class="submitcomment" v-if="displaycomment" v-on:click="createComment">Submit</button>
                </div>
                <div class="all-comments">
                    <label v-on:click="displaycomments = !displaycomments">Comments</label>
                </div>
                <div class="comments-container" v-if="displaycomments">
                    <div class="commentsdiv" v-if="displaycomments" v-for="comment of comments">
                        <div class="comments" v-bind:id="comment.id">
                            <div class="username">{{comment.user_id}}</div>
                            <div class="content">{{comment.content}}</div>
                            <button v-bind:id="comment.id" v-on:click="openEditDiv = openEditDiv == comment.id ? 0 : comment.id">Update</button>
                            <div class="update-comment" v-bind:id="comment.id" v-if="openEditDiv == comment.id">
                                <label for="updateComment">Update A Comment</label>
                                <textarea id="updateComment" name="updateComment" rows="5" cols="50" v-model="updateComment"></textarea>
                                <button class="submitcomment" v-bind:id="comment.id" v-on:click="updateAComment">Update</button>
                            </div> 
                            <button v-bind:id="comment.id" v-on:click="deleteAComment">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <footer id="footer">Copyright © 2020 DeveloperToob</footer>
        </div>
    </div>
</body>
</html>