@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #4E8ED5;
}

.login-creation-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    height: 100vh;
    width: 100%;
}

.login, .create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65%;
    width: 80vw;
    background-color: #d9d9d9;
    color: #4E8ED5;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(78,142,213,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(78,142,213,1);
    box-shadow: 0px 0px 7px 0px rgba(78,142,213,1);
}

.header {
    background: #4E8ED5;
    color: #d9d9d9;
    width: 100%;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    height: 15%;
}

.login > header > h3, .create-account > header  > h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

input {
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 220px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

::placeholder { 
    color: #d9d9d9;
    opacity: 1; 
}

p {
    font-family: 'Roboto', sans-serif;
}

.submit {
    height: 40px;
    width: 220px;
    border-radius: 10px;
    cursor: pointer;
    color: #d9d9d9;
    background-color: #4E8ED5;
    border: none;
    font-family: 'Lato', sans-serif;
}

.submit:hover {
    background-color: rgb(34, 70, 114);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.warning {
    color: rgb(167, 2, 2);
}

#invalid-fields, #username-taken, .success {
    margin: 10px;
    text-align: center;
}

.success {
    margin-top: 20px;
}

.register-login-account {
    margin-top: 60px;
    text-align: center;
}

.highlight-link {
    color: blue;
    cursor: pointer;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4E8ED5;
    height: 60px;
    color: #d9d9d9;
    font-size: 12px;
}

.meettheteam {
    cursor: pointer;
    text-decoration: none;
    color: #d9d9d9;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
.uneditable-input:focus {   
  border-color: #4E8ED5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #4E8ED5;
  outline: 0 none;
}

button:focus {
    outline: 0px auto !important;
}



@media screen and (min-width: 868px) {

    .login, .create-account {
        width: 50vw;
    }

    #footer {
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px) {

    .login, .create-account {
        width: 30vw;
    }

}