* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #4E8ED5;
}

.login-creation-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    height: 100%;
    width: 100%;
}

.login, .create-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: rgba(68, 132, 206, 0.2);
    color: #4E8ED5;
}

.login > h1, .create-account > h1 {
    text-align: center;
    font-size: 40px;
    margin: 30px;
}

.accountaccess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.userlabel, .passwordlabel {
    margin: 10px;
}

input {
    border-radius: 10px;
    border: 1px solid #4E8ED5;
    height: 30px;
    width: 200px;
    padding: 5px;
}

.submit {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: #d9d9d9;
    background-color: #4E8ED5;
    border: 1px solid #4E8ED5;
}

.submit:hover {
    transition: all 0.3s ease;
    background-color: #4E8ED5;
    box-shadow: 0 0 10px 0 #4E8ED5;
    border: none;
}

.warning {
    color: red;
}

.register-login-account, #invalid-fields, #username-taken, .success {
    margin: 20px;
}

.highlight-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4E8ED5;
    height: 60px;
    color: #d9d9d9;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
.uneditable-input:focus {   
  border-color: #4E8ED5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #4E8ED5;
  outline: 0 none;
}

button:focus {
    outline: 0px auto !important;
}

@media screen and (min-width: 868px) {

    .login, .create-account {
        height: 70%;
        width: 55%;
    }

}