@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

.videosection {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.videoplayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    background:#4484CD;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

.youtubevideo {
    height: 100%;
    width: 100%;
}

.video-info {
    width: 100vw;
}

.no-vote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.titleandthumbs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: #d9d9d9;
    background: #4484CD;
    border-top: 1px solid #4484CD;
}

.titleandthumbs > h3 {
    margin: 20px;
    font-size: 16px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.thumbs {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    font-size: 30px;
}

.thumbs > i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: #d9d9d9;
    cursor: pointer;
    height: 50px;
    width: 80px;
    border-radius: 50px;
}

.thumbs > i:hover {
    background-color: #d9d9d9;
    color: #4484CD;
    transition: all 0.3s ease;
}

.likes-and-dislikes {
    margin: 0px;
}

.add-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: #4484CD;
    background: #d9d9d9;
    font-family: 'Lato', sans-serif;
}

.add-comment > label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.add-comment > label:hover {
    background: #4484CD;
    color: #d9d9d9;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.add-comment > textarea {
    margin: 10px;
    background: #fff;
    width: 90%;
    font-family: sans-serif;
    border: 1px solid #4484CD;
    resize: none;
    font-family: 'Roboto', sans-serif
}

textarea {
    padding: 10px;
}

.submitcomment {
    margin: 20px 0px 10px 0px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: #d9d9d9;
    background-color: #4484CD;
    border: none;
}

.submitcomment:hover {
    background-color: rgb(34, 70, 114);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.comments-container {
    background: #4484CD;
    color: #d9d9d9;
    height: 275px;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}

.all-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background: #d9d9d9;
    font-size: 20px;
    color: white;
    width: 100vw;
}

.all-comments > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: #4484CD;
    text-align: center;
    height: 70px;
    margin: 0px 0px 0px 0px;
}

.all-comments > label:hover {
    transition: all 0.3s ease-in-out;
    color: #d9d9d9;
    background-color: #4484CD;
}

.comments {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 20px;
}

.username {
    font-weight: bolder;
    color: rgb(34, 70, 114);
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.username, .content {
    margin-left: 30px;
    margin-right: 30px;
}

.content {
    font-family: 'Roboto', sans-serif;
}

.update-delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
}

.update-button, .delete-button {
    font-size: 14px;
    margin: 5px;
    border: none;
    height: 25px;
    width: 65px;
    border-radius: 20px;
    background: #d9d9d9;
    color: #4484CD;
    font-family: 'Lato', sans-serif;
}

.update-button:hover, .delete-button:hover {
    background-color: rgb(34, 70, 114);
    color: #d9d9d9;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.update-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    font-family: 'Lato', sans-serif;
}

.update-comment > label {
    margin: 10px;
    color: #4484CD;
    font-size: 14px;
}

.update-comment > textarea {
    margin: 10px;
    background: #fff;
    width: 90%;
    font-family: sans-serif;
    border: 1px solid #4484CD;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.delete-comment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.delete-comment > label, .delete-comment > button {
    margin: 0px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}

.cancelbutton {
    background: #d9d9d9;
    color: #4484CD;
}

.cancelbutton:hover {
    background: rgb(34, 70, 114);
    color: #d9d9d9;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.deletebutton {
    background:rgb(221, 105, 105)
}

.deletebutton:hover {
    background: rgb(207, 59, 59);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 868px) {

    .mobile-first {
        display: none;
    }

    .desktop-only {
        display: initial;
    }

    .videoplayer {
        display: flex;
        flex-direction: row;
    }

    .video-info {
        width: 30vw;
        display: flex;
        flex-direction: column;
    }

    .desktop-only > .add-comment {
        width: 30vw;
        background: #4484CD;
        color: #d9d9d9;
    }

    .desktop-only > .add-comment > label:hover {
        background: #d9d9d9;
        color: #4484CD;
    }

    .desktop-only > .add-comment > .submitcomment {
        align-self: center;
        background: #d9d9d9;
        color: #4484CD;
    }

    .desktop-only > .add-comment > .submitcomment:hover {
        background: rgb(34, 70, 114);
        color: #d9d9d9;
        -webkit-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;
    }

    .desktop-only > .add-comment > textarea {
        margin-top: 10px;
    }

    #desktop-comments {
        height: 349px;
        width: 30vw;
        color: #4484CD;
        background: #d9d9d9;
    }

    .desktop-only > .all-comments > label {
        background: #4484CD;
        color: #d9d9d9;
    }

    .desktop-only > .all-comments > label:hover {
        background: #d9d9d9;
        color: #4484CD;
    }

    .comments {
        border-top: 1px solid #4484CD;
    }

    .update-button, .delete-button {
        background: #4484CD;
        color: #d9d9d9;
        cursor: pointer;
    }

    .video {
        height: 100%;
    }

    .all-comments {
        width: 30vw;
    }

    .add-comment > label {
        font-size: 20px;
    }

    .delete-comment > label {
        text-align: center;
    }

    .cancelbutton, .deletebutton {
        width: 80px;
    }

    .cancelbutton {
        background: #4484CD;
        color: #d9d9d9;
    }
}