@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

body {
    padding-top: 100px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #4484CE;
}

.meet-the-team {
    margin: 50px;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    color: #d9d9d9;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 700px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.cards {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    background: #d9d9d9;
    color: #4484CE;
}

.front-card {
    cursor: pointer;
}

.back-card {
    border: 2px solid #d9d9d9;
}

.back-card > h1 {
    font-size: 25px;
    text-align: center;
    margin: 30px 0px 10px 0px;
}

.back-card > h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.back-card > p {
    font-size: 12px;
    padding: 0 40px;
    margin: 0;
    text-align: center;
}

.back-card > .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.back-card > .contact-info > a > i {
    font-size: 40px;
    margin: 0 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    background: 50%;
}

.cards .back-card {
    transform: rotateY(180deg);
}

.cards.flip {
    transform: rotateY(180deg);
}


.back-card > .contact-info > a > i:hover {
    color: #4484CE;
    cursor: pointer;
}


